<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- Bean definitions here -->


	<bean class="springcnstrargs.Credit" name ="credit">
	
		<constructor-arg value="1000" />
	</bean>

	
	<bean class="springcnstrargs.Person" name="person">
	
		<constructor-arg value="Abhishek" />
		<constructor-arg value="12" />
		<constructor-arg ref="credit" />
		
	</bean>
		
	

	
</beans>